<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Customer page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/tab.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script type="text/javascript">"src/main/resources/static/app/pnpStoreApp.js"</script>  
    <script type="text/javascript" src="./static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="./static/app/pnpStoreApp.js" th:src="@{/app/pnpStoreApp.js}"></script>


<script type="text/javascript">
function openCartalog(evt, CartlogName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(CartlogName).style.display = "block";
    evt.currentTarget.className += " active";
}

</script>



</head>

<body ng-app="pnpStoreApp"  ng-controller="pnpStoreAppController">

    			
	<div>
	 <img th:src="@{/images/logo.jpg}"  width="200" height="70" alt="logo" /> 
	</div>
	
	
			  	
	<div class="container">	
	<div  style="margin-top:15px; background-color: #CF000F;color: #E4F1FE;">
					<span th:utext="${userName}"></span>					
				</div>
						<div>
						<ul>
						</li>
  						<li style = "margin-left:1000px; margin-top:20px"> <a   href ="/pnpStore/Cart"> <img th:src="@{/images/Cart.JPG} " > {{ cart.length}}</a></li>
						</ul>
						</div>		
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span style="margin-left:400px; color: #F2F1EF"><b>Please choose your desired catagory below</b></span>
				</div>
				<div class="panel-body">

<!-- Vertical tab example -->				
<div class="tab">
  <button class="tablinks" onclick="openCartalog(event, '1')">Fresh food</button>
  <button class="tablinks" onclick="openCartalog(event, '2')">Food cupboard</button>
  <button class="tablinks" onclick="openCartalog(event, '3')">Frozen food</button>
  <button class="tablinks" onclick="openCartalog(event, '4')">Meals</button>
  <button class="tablinks" onclick="openCartalog(event, '5')">Beverages</button>
  <button class="tablinks" onclick="openCartalog(event, '6')">Health n Beauty</button>
  <button class="tablinks" onclick="openCartalog(event, '7')">Home n Outdoor</button>
  <button class="tablinks" onclick="openCartalog(event, '8')">Household</button>
  <button class="tablinks" onclick="openCartalog(event, '9')">Baby</button>
  <button class="tablinks" onclick="openCartalog(event, '10')">Electronics n Office</button>
</div>



			<!-- Fresh food -->
			<div id="1" class="tabcontent">
  			<input type="hidden" ng-model="FreshFood" ng-init="FreshFood ='Fresh food'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:FreshFood">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"></span></td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Food cupboard -->
			<div id="2" class="tabcontent">
  			<input type="hidden" ng-model="Foodcupboard" ng-init="Foodcupboard ='Food cupboard'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:Foodcupboard">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>                
					<td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Frozen food -->
			<div id="3" class="tabcontent">
  			<input type="hidden" ng-model="Frozenfood" ng-init="Frozenfood ='Frozen food'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
								
				
							</tr>
           	<tr ng-repeat="product in products |  filter:Frozenfood">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Meals -->
			<div id="4" class="tabcontent">
  			<input type="hidden" ng-model="meals" ng-init="meals ='meals'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:meals">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Beverages -->
			<div id="5" class="tabcontent">
  			<input type="hidden" ng-model="beverages" ng-init="beverages ='beverages'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:beverages">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			
  			<!-- Health n Beauty -->
			<div id="6" class="tabcontent">
  			<input type="hidden" ng-model="health" ng-init="health ='health'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:health">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R:{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Home n Outdoor -->
			<div id="7" class="tabcontent">
  			<input type="hidden" ng-model="outdoor" ng-init="outdoor ='outdoor'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:outdoor">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Household -->
			<div id="8" class="tabcontent">
  			<input type="hidden" ng-model="household" ng-init="household ='household'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:household">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Baby -->
			<div id="9" class="tabcontent">
  			<input type="hidden" ng-model="babies" ng-init="babies ='babies'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:babies">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  			
  			<!-- Electronics n Office -->
			<div id="10" class="tabcontent">
  			<input type="hidden" ng-model="electronics" ng-init="electronics ='electronics and office'"></input>
  			<div align = "center" class="table-responsive">  			
			<table class="table table-bordered" style="width: 600px;">
							<tr>
				 				<th></th>
								<th>Name</th>
								<th>Price</th>
								<th>Group</th>
								<th>Quantity</th>
				
							</tr>
           	<tr ng-repeat="product in products |  filter:electronics">
                   <td> <span><img  src= "{{ product.product_img }}" width="200" height="200"> </span> </td>
                   <td>{{product.product_name}}</td>
                   <td> R{{product.product_price}}</td>
                   <td>{{product.product_group}}</td>
                   <td><input type = "number" name = "quantity" ng-model="quantity" value="1" min="1" max="100"></td>                          
					<td><a ng-click="create(product,quantity)" class="btn btn-success btn-sm">Add To Cart</a></td>
			</tr>
			</table>
			</div>
  			</div>
  		
  					

	<div>
	<form th:action="@{/logout}" method="get">
			<button class="btn btn-danger btn-block" name="logout"
				type="Submit"  style="position: sticky;left: 0px; bottom: 0px;">Want to leave page? Click here to Logout</button>
		</form>
		</div>
		
		
		
</body>
</html>